{% extends 'base.html' %}
{% block content %}

<h1>Bunny Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ bunny.name }}</span>
        <p>Breed: {{ bunny.breed }}</p>
        <p>Description: {{ bunny.description }}</p>
        {% if bunny.age > 0 %}
        <p>Age: {{ bunny.age }}</p>
        {% else %}
        <p>Age: Bunny</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'cats_update' cat.id %}">Edit</a>
        <a href="{% url 'cats_delete' cat.id %}">Delete</a>
    </div>
</div>

{% endblock %}