{% extends 'base.html' %}
{% block content %}

<h1>Bunny List</h1>

{% for bunny in bunnies %}
  <div class="card">
    <a href="{% url 'detail' bunny.id %}">
      <div class="card-content">
        <span class="card-title">{{ bunny.name }}</span>
        <p>Breed: {{ bunny.breed }}</p>
        <p>Description: {{ bunny.description }}</p>
        {% if bunny.age > 0 %}
          <p>Age: {{ bunny.age }}</p>
        {% else %}
          <p>Age: Bunny</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'bunnies_update' bunny.id %}">Edit</a>
        <a href="{% url 'bunnies_delete' bunny.id %}">Delete</a>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}